<h3 style="text-align: center;">Voulez vous vraiment supprimer cette annonce ?</h3>

<div class="row" style="margin: 1em 0 1em 0;" >

  <button mat-button class="col-3" style="margin: 0 auto;" (click)="submit()" mat-raised-button color="warn">Je Supprime</button>

</div>
