<div class="row" style="margin: 1em 0 1em 0;" >

  <h4 class="col-7" ></h4>
  <button mat-button class="col-2" (click)="deleteAnnouncement()" mat-raised-button color="warn">Supprimer</button>
  <div class="col-1"></div>
  <button mat-button class="col-2"  mat-raised-button color="primary" (click)="updateAnnouncement()">Modifier</button>

</div>


<div class="container">

  <h2>{{ data.title }}</h2>

  <div class="row">
    <mat-icon>place</mat-icon>
    <h2 class="col-10">{{ data.place }}</h2>
  </div>

  <img src="{{ getBaseUrl() + data.picturePath }}" alt="{{ data.title }}">

  <h4>
    {{ data.description }}
  </h4>

</div>
