
<div class="container" style="margin-top: 3em; margin-bottom: 3em" >

  <div class="row" style="margin: 1em 0 2em 0;" >

    <h4 class="col-10" style="text-align: center; font-size: 20px; font-weight: 500;" >Annonces Immobilières</h4>

    <button mat-button class="col-2"  mat-raised-button color="primary" (click)="newAnnouncement()" >Nouvelle Annonce</button>

  </div>

  <mat-progress-bar mode="indeterminate" *ngIf="loader"></mat-progress-bar>

  <div class="row">

    <div class="col-12 col-md-4" *ngFor="let annonce of announcementList" >

      <mat-card class="annonce-card" (click)="announcementDetails(annonce)" >

        <mat-card-header>
        </mat-card-header>

        <img class="annonce_card_img"
             src="{{ getBaseUrl() + annonce.picturePath }}"
             alt="{{ annonce.picture }}">

        <mat-card-content>
          <h2>          <mat-card-title class="title"  >{{ annonce.title }}</mat-card-title>
          </h2>
          <p style="text-align: justify; margin-top: 1em" >
            {{ annonce.description.slice(0,50)+"..." }}
          </p>

        </mat-card-content>

        <div class="row">

          <div class="col-2"><mat-icon>place</mat-icon></div>
          <div class="col-10"><h5>{{ annonce.place }}</h5></div>

        </div>
        <button (click)="announcementDetails(annonce)"  mat-raised-button color="primary" >Lire en détail...</button>

      </mat-card>
    </div>

  </div>

</div>
