<div class="row">

  <h3 class="title" style="text-align: center;" >Modification d'Annonce</h3>

  <mat-form-field class="width_100" appearance="fill">
    <mat-label>Titre</mat-label>
    <input matInput [(ngModel)]="announce.title" name="title"  type='text'>
  </mat-form-field>

  <mat-form-field class="width_100" appearance="fill">
    <mat-label>Adresse</mat-label>
    <input matInput [(ngModel)]="announce.place" name="adress"  type='adress'>
  </mat-form-field>

  <mat-form-field class="width_100" appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="announce.description" name="description" ></textarea>
  </mat-form-field>

  <input type="file" (change)="fileChangeEvent($event)" name="" id="">
  <span>Une image pour l'annonce.</span>

  <img style="margin-top: 1em;" *ngIf="!imageURL" src="{{ getBaseUrl() + announce.picturePath }}" alt="preview">
  <img style="margin-top: 1em;" *ngIf="imageURL" src="{{ imageURL }}" alt="preview">

  <mat-progress-bar mode="indeterminate" *ngIf="loader"></mat-progress-bar>

  <div class="row" style="margin: 1em 0 1em 0;" >

    <h4 class="col-7" ></h4>

    <button mat-button class="col-2" (click)="closeModal()" mat-raised-button color="warn">Annuler</button>
    <div class="col-1"></div>
    <button mat-button class="col-2"  mat-raised-button color="primary" (click)="submit()">Modifier</button>

  </div>

</div>
