/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.annonce-card {
  max-width: 400px;
  margin-bottom: 2em;
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}

p {
  font-size: 14px;
}

.annonce_card_img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.width_100 {
  width: 100%;
}

.mat-dialog-container {
  height: auto !important;
}
